<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Formulaire</h1>
            <form action="formulaire-save?uuid=<%- uuid %>" method="post">
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" name="nom" value="<%- nom %>" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" name="prenom" value="<%- prenom %>" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary"><%- button_modify %></button>
            </form>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>