<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 class="border-bottom pb-2"><i class="fa-solid <%- button_modify == "Modifier" ? "fa-user-pen" : "fa-user-plus" %> mr-3"></i>Formulaire</h1>
            <form action="formulaire-save?uuid=<%- uuid %>" method="post" class="w-100 d-flex flex-column justify-content-center align-items-center mt-5">
                <div class="form-group w-25">
                    <label>Nom</label>
                    <input type="text" name="nom" value="<%- nom %>" class="form-control" required>
                </div>
                <div class="form-group w-25">
                    <label>Prénom</label>
                    <input type="text" name="prenom" value="<%- prenom %>" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-25"><%- button_modify %></button>
            </form>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>